@import url(iransans/fontiran.css);
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "IRANSans";
	list-style-type: none;
	text-decoration: none;
	direction:rtl;
	border-collapse: collapse;
}
.clear {
	clear: both;
}
body {
	width: 100%;
	margin: 0 auto;
	background-image: url(../img/light-tile.gif);
	background-size: 260px;
}
.set {
	max-width: 1000px;
	margin: 0 auto;
}
.header {
	width: 100%;
	height: 40px;
	background-color: rgba(243, 243, 243, 0.59);
}
.header ul li{
	padding: 7px 0;
	display: inline-block;
}
.header ul li a{
	color: #000000;
	padding: 7px 10px 6px 10px;
}
.header ul li a:hover {
	background-color: rgba(254, 1, 107, 0.52);
}
.content {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 50px 10px;
	text-align: center;
}
.image {
	max-width: 500px;
	margin: 0 auto;
}
.image img {
	width: 100%;
}
p {
	margin-bottom: 15px;
}
@media screen and (max-width: 500px) {
	.header {
		height: 30px;
	}
	.header ul li {
		font-size: 12px;
		padding: 5px 0;
	}
	p {
		font-size: 12px;
	}
}