@import url(iransans/fontiran.css);
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "IRANSans";
	list-style-type: none;
	text-decoration: none;
	direction:rtl;
	border-collapse: collapse;
}
.clear {
	clear: both;
}
body {
	width: 100%;
	margin: 0 auto;
	background-image: url(../img/light-tile.gif);
	background-size: 260px;
}
.set {
	max-width: 1000px;
	margin: 0 auto;
}
.header {
	width: 100%;
	height: 40px;
	background-color: rgba(243, 243, 243, 0.59);
}
.header ul li{
	padding: 7px 0;
	display: inline-block;
}
.header ul li a{
	color: #000000;
	padding: 7px 10px 6px 10px;
}
.header ul li a:hover {
	background-color: rgba(254, 1, 107, 0.52);
}
.content {
	width: 100%;
	background-color: rgba(251, 248, 248, 0.45);
	padding: 30px 10px 20px 10px;
	text-align: center;
}
.error strong {
	color: #f8425c;
}
.error p {
	margin-top: 20px;
	margin-bottom: 30px;
}
.success strong {
	color: #5dda5d;
}
.image {
	width: 100px;
	margin: auto;
}
.image img {
	width: 100%;
}
.success ul {
	width: 400px;
	margin: 0 auto;
	margin-top: 20px;
}
.success ul li {
	text-align: right;
}
.success ul li p {
	display: inline-block;
}
.hint {
	margin-top: 15px;
	color: #ff0000;
}

.response {
	max-width: 400px;
    margin: 0 auto;
	margin-top:15px;
    text-align: right;
    padding: 10px;
}

.submit {
	background-color: #5dda5d;
    border: 2px solid #5dda5d;
    padding: 10px;
	margin-top: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 40px #c7ffc6;
	cursor: pointer;
}
.response h2 {
	text-align: center;
	margin-bottom: 10px;
}
table {
	width: 100%;
    border: 1px solid #15af36;
}
th {
	width: 50%;
	padding: 5px 0;
    text-align: center;
}
td {
	width: 50%;
	padding: 5px;
	border: 1px solid #15af36;
}
.ltr {
	direction: ltr;
}
.submit-error {
	background-color: #f8425c;
    border: 2px solid #f8425c;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 40px #ffc6c6;
    cursor: pointer;
}
.submit:focus, .submit-error:focus {
	outline: none;
}
.submit-error:active {
	background-color: #ffc6c6;
    border: 2px solid #ffc6c6;
	box-shadow: inset 0px 0px 40px #f8425c;
}
.submit:active {
	background-color: #b7f7b6;
    border: 2px solid #b7f7b6;
    box-shadow: inset 0px 0px 40px #5dda5d ;
}

@media screen and (max-width: 400px) {
	table {
		font-size: 12px;
	}
	h2 {
		font-size: 16px;
	}
}